.header {
    background: #ffffff;
}

.header__inner {
    margin: 0 auto;
    padding: 4px 24px;
    display: flex;
    justify-content: space-between;
}

.header__ttl {
    font-size: 24px;
    font-weight: bold;
    display: block;
    padding: 0 4px;
}

.header__nav {
    align-items: center;
    display: flex;
    padding: 0 4px;
}

.header__ul {
    display: flex;
    justify-content: space-between;

}

.header__li {
    display: block;
    padding: 0px 12px;
    align-items: center;
}

.header__link-button {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.header__link-button-logout {
    font-size: 16px;
    border: none;
    background: white;
    cursor: pointer;
}

.footer{
    padding: 8px;
}

.footer__logo{
    display: block;
    text-align: center;
    font-size:12px;
}