.detail__container {
    margin: 0 auto;
    padding: 30px 15px;
    background: rgb(225, 225, 225);
    height: 84vh;
}

.detail__heading {
    margin-bottom: 32px;
    margin-top: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail__ttl {
    font-size: 20px;
    margin: 0px 40px 0px 40px;
}

.detail__button {
    display: block;
    background: white;
    cursor: pointer;
}

.detail__button-prev {
    border: 1px solid blue;
    width: 30px;
    cursor: pointer;
}

.detail__button-next {
    border: 1px solid blue;
    width: 30px;
    cursor: pointer;
}

.detail__group__content {
    margin: 0 auto;
    padding: 4px 40px;
    width: 84vw;
}

.detail-table__row {
    border-top: 1px solid rgb(120, 120, 120)
}

.detail-table__heading {
    text-align: left;
    padding: 16px 48px 16px 24px;
}

.detail-table__item {
    padding: 16px 48px 16px 24px;
}

.footer__paginate .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

.footer__paginate .pagination li {
    display: inline;
    margin: 0 5px;
}