.alert alert-danger {
    background: red;
}

.employee__container {
    margin: 0 auto;
    padding: 30px 15px;
    background: rgb(225, 225, 225);
    height: 84vh;
}

.employee__heading {
    margin-bottom: 32px;
    margin-top: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.employee__ttl {
    font-size: 20px;
    margin: 0px 40px 0px 40px;
}

.employee__button {
    display: block;
    background: white;
    cursor: pointer;
}

.employee__button-prev {
    border: 1px solid blue;
    width: 30px;
    cursor: pointer;
}

.employee__button-next {
    border: 1px solid blue;
    width: 30px;
    cursor: pointer;
}

.employee__group__content {
    margin: 0 auto;
    padding: 4px 40px;
    /* background: white; */
    width: 50vw;
}

.employee-table__row {
    border-top: 1px solid rgb(120, 120, 120);
    display: flex;
    justify-content: space-between;
}

.employee-table__heading {
    font-size: 18px;
    text-align: left;
    padding: 16px 40px 16px 40px;
}

.employee-table__heading:last-child{
    text-align: right;
}

.employee-table__item {
    padding: 10px 40px 10px 40px;
    font-size: 16px;
}

.employee__button {
    width: 72px;
    text-align: center;
    border-radius: 2px;
    background: rgb(65, 65, 240);
    margin: 0 auto;
    display: block;
}

.employee__button-detail {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    margin: auto;
    width: 72px;
}

.footer__paginate .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.footer__paginate .pagination li {
    display: inline;
    margin: 0 5px;
}


